@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap");
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    color: $main-color-theme;
}

.main-wrapper {
    width: 70vw;
    min-height: 330vh;
    margin: 0 auto;
}

@import '_nav.scss';

@import '_main.scss';

@import '_skills.scss';

@import '_technology.scss';

@import '_footer.scss';